@use "variables" as *;

.wrapper {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

main {
    background-image: url(../assets/Background-1.jpg);
    height: calc(100vh - 150px);
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contentContainer {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    border-radius: 40px;
    box-shadow: 0 0 30px rgba($color: $darkGrey, $alpha: 0.6);
    font-family: 'Red Hat Display';
    text-align: center;
    padding: 20px 0;
}

.displayArea {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
}

#drinkImage {
    width: 160px;
    height: 160px;
    border: 14px solid $darkGrey;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: -160px;
    display: flex;
    align-items: center;

    img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
}

#drinkHeader {
    background-color: $darkGrey;
    min-height: 100px;
    width: 100%;
    margin-top: -40px;
    border-radius: 40px 40px 0 0;
}

#drinkGlass {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 20px 0 24px;
    margin: 10px 40px;
    border-bottom: 1px solid rgba($color: white, $alpha: 0.3);

    img {
        width: 60px;
        transition: all 0.2s;

        &:hover {
            transform: rotate(-6deg) scale(1.1);
        }
    }
}

#drinkIngredients {
    padding: 20px 20px 20px 40px;
    width: 400px;
}

#ingList {
    margin-top: 20px;
    padding: 0;
    background-color: rgba($color: white, $alpha: 0.05);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba($color: $darkGrey, $alpha: 0.6);
}

.infoContainer {
    border-bottom: 1px solid rgba($color: white, $alpha: 0.3);
    display: flex;

    &:last-child {
        border-bottom: none;
    }

    div {
        padding: 12px 20px;
    }
}

.measurementContainer {
    text-align: right;
    width: 30%;
    border-right: 1px solid rgba($color: white, $alpha: 0.3);
    font-weight: 500;
}

.ingredientContainer {
    text-align: left;
    width: 70%;
    font-weight: 100;
}

#drinkInstructions {
    padding: 20px 40px 20px 20px;
    width: 50%;
    text-align: left;
}

.drinkAgain {
    width: 100%;
    margin-bottom: 20px;
}

#drinkAgainBtn {
    background-color: $accentYellow;
    box-shadow: 0 4px 0 $shadeYellow;
    transition: 0.1s all;
    &:hover,
    &:focus {
        transform: translateY(4px);
        box-shadow: 0 0 0 $shadeYellow;
    }
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 100%;
    max-width: 80%;
    height: 100%;
    max-height: 500px;
    position: relative;
    top: 40vh;
}

#formSlide,
#drinkSlide {
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: absolute;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}

.hidden {
    display: none !important;
}

.inactiveForm {
    transform: translateX(-150%);
}

.inactiveDrink {
    transform: translateX(150%);
}