@use "variables" as *;

footer {
    height: 50px;
    background-color: $mid-grey;
    color: white;
    display: flex;
    align-items: center;
    justify-items: center;
    span {
        width: fit-content;
        margin: auto;
    }
}