#shareSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#shareLine {
    width: 250px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
}

#shareLink{
    margin: 0.5rem 1rem 0;
    word-wrap: break-word;
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

}

.shareHidden {
    visibility: hidden;
}