@use "variables" as *;

@font-face {
    font-family: "Archivo Black";
    src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: oblique 0deg 12deg;
}

h1 {
    font-size: 1.8rem;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
}