@use "variables" as *;

@font-face {
    font-family: "Archivo Black";
    src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: oblique 0deg 12deg;
}

html {
    font-family: 'Red Hat Display';
}

h1 {
    font-size: 1.8rem;
    margin-left: 10px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Archivo Black';
    font-size: 3rem;
    margin: 30px 0 8px 0;
    padding: 0;
    color: $accentYellow;
    text-align: left;
    transition: 0.4s all;
}

.lightModeContent h2 {
    color: $darkGrey;
}

h3 {
    font-family: 'Archivo Black';
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}

li {
    padding-bottom: 14px;
    line-height: 1.2rem;
    font-weight: 350;
    font-size: 0.9rem;
}

::marker {
    font-weight: 600;
}

.darkModeList::marker{
    color: $accentYellow;
}

.lightModeList::marker{
    color: $darkGrey;
}