@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Archivo Black";
  src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(../fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 12deg;
}
html {
  font-family: "Red Hat Display";
}

h1 {
  font-size: 1.8rem;
  margin-left: 10px;
  text-transform: uppercase;
}

h2 {
  font-family: "Archivo Black";
  font-size: 3rem;
  line-height: 3rem;
  margin: 0;
  padding: 0;
  color: #ffe600;
  text-align: left;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.lightModeContent h2 {
  color: #232323;
}

h3 {
  font-family: "Archivo Black";
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

li {
  padding-bottom: 14px;
  line-height: 1.2rem;
  font-weight: 350;
  font-size: 0.9rem;
}

::marker {
  font-weight: 600;
}

.darkModeList::marker {
  color: #ffe600;
}

.lightModeList::marker {
  color: #232323;
}

a {
  text-decoration: none;
  color: #828282;
  font-weight: 700;
}

html {
  font-size: 125%;
  overflow-x: hidden;
}

.themed {
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.darkMode {
  background-color: #232323;
  color: #fff;
}

.lightMode {
  background-color: #fff;
  color: #2b2b2b;
}

.darkModeContent {
  background-color: #3b3b3b;
  color: #fff;
}

.lightModeContent {
  background-color: #eee;
  color: #2b2b2b;
}

.darkModeText {
  color: #ffe600;
}

.lightModeText {
  color: #232323;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  font-family: "Archivo Black";
  color: #232323;
  padding: 0 20px;
  background-color: #232323;
}
nav img {
  max-width: 70px;
}

#titleContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  #titleContainer {
    margin-top: -72px;
    margin-bottom: -12px;
  }
}
.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

main {
  background-image: url(../assets/Background-1.jpg);
  min-height: calc(100vh - 150px);
  width: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
}

.contentContainer {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 30px rgba(35, 35, 35, 0.6);
          box-shadow: 0 0 30px rgba(35, 35, 35, 0.6);
  font-family: "Red Hat Display";
  text-align: center;
  padding-bottom: 20px;
}

.displayArea {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.drinkAndImageContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#drinkImage {
  width: 16%;
  overflow: hidden;
  border-radius: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#drinkImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#drinkHeader {
  background-color: #232323;
  width: 100%;
  border-radius: 0 40px 0 0;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.lightModeContent #drinkHeader {
  background: #ffe600;
}

#drinkGlass {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  padding: 10px;
  margin: 0 0 20px 0;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
#drinkGlass img {
  width: 40px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#drinkGlass img:hover {
  -webkit-transform: rotate(-6deg) scale(1.1);
          transform: rotate(-6deg) scale(1.1);
}

.lightModeContent #drinkGlass {
  background-color: white;
}

#drinkIngredients {
  padding: 20px 20px 20px 40px;
  width: 50%;
}

#ingList {
  margin-top: 20px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 30px rgba(35, 35, 35, 0.6);
          box-shadow: 0 0 30px rgba(35, 35, 35, 0.6);
  font-size: 0.9rem;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.infoContainer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.infoContainer:last-child {
  border-bottom: none;
}
.infoContainer div {
  padding: 8px 12px;
}

.measurementContainer {
  text-align: right;
  width: 30%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 500;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.ingredientContainer {
  text-align: left;
  width: 70%;
  font-weight: 100;
}

.lightModeContent #ingList {
  -webkit-box-shadow: 0 0 30px rgba(35, 35, 35, 0.1);
          box-shadow: 0 0 30px rgba(35, 35, 35, 0.1);
  background-color: white;
}
.lightModeContent #ingList .infoContainer {
  border-bottom: 1px solid #eee;
}
.lightModeContent #ingList .infoContainer:last-child {
  border-bottom: none;
}
.lightModeContent #ingList .measurementContainer {
  border-right: 1px solid #eee;
}

#drinkInstructions {
  padding: 20px 40px 20px 20px;
  width: 50%;
  text-align: left;
}

.drinkAgain {
  width: 100%;
  margin: 20px 0;
}

#drinkAgainBtn {
  background-color: #ffe600;
  -webkit-box-shadow: 0 4px 0 #b7981d;
          box-shadow: 0 4px 0 #b7981d;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}
#drinkAgainBtn:hover, #drinkAgainBtn:focus {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0 0 0 #b7981d;
          box-shadow: 0 0 0 #b7981d;
}

#formSlide,
#drinkSlide {
  width: 100%;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#formSlide {
  position: absolute;
  top: 26%;
  left: 0;
}

.hidden {
  display: none !important;
}

.inactiveForm {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  display: none;
}

.inactiveDrink {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  display: none;
}

footer {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
footer span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

form {
  margin-bottom: 14px;
  margin-top: 20px;
  padding: 50px 0 20px 0;
}

label {
  font-weight: 400;
}

select {
  display: block;
  width: 80%;
  margin: 8px auto 40px;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #232323;
}
select option {
  font-family: sans-serif;
  font-weight: 500;
}

.buttonContainer {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  font-weight: 900;
  width: 46%;
  padding: 10px;
  border-radius: 24px;
  border: none;
  color: #232323;
}

#alcoholTypeBtn {
  background-color: #ffe600;
  -webkit-box-shadow: 0 4px 0 #b7981d;
          box-shadow: 0 4px 0 #b7981d;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}
#alcoholTypeBtn:hover, #alcoholTypeBtn:focus {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0 0 0 #b7981d;
          box-shadow: 0 0 0 #b7981d;
}

#alcoholRandom {
  background: linear-gradient(-45deg, #fcb150, #ec679a, #65c4e7, #50e9c5);
  background-size: 400% 400%;
  -webkit-box-shadow: 0 4px 0 #7e495d;
          box-shadow: 0 4px 0 #7e495d;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
  -webkit-animation: gradientBackground 12s ease infinite;
          animation: gradientBackground 12s ease infinite;
}
#alcoholRandom:hover, #alcoholRandom:focus {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0 0 0 #7e495d;
          box-shadow: 0 0 0 #7e495d;
}

@-webkit-keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.takeMeBackContainer {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#takeMeBack {
  background: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0;
  padding: 5px 0;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#takeMeBack:hover, #takeMeBack:focus {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.material-icons {
  position: relative;
  top: 5px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.darkModeSlider {
  background-color: #232323;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 2px solid white;
}

.darkModeSlider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 22px;
  left: 4px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 22px;
}

input:checked + .darkModeSlider {
  background-color: #2b2b2b;
}

input:checked + .darkModeSlider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.darkModeSlider.round {
  border-radius: 34px;
}

.darkModeSlider.round:before {
  border-radius: 50%;
}

@-webkit-keyframes glassBounce {
  0% {
    -webkit-transform: scale(1, 1) rotate(0deg);
            transform: scale(1, 1) rotate(0deg);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(1.05, 0.95) rotate(5deg);
            transform: scale(1.05, 0.95) rotate(5deg);
    opacity: 20;
  }
  20% {
    -webkit-transform: scale(0.95, 1.05) rotate(0deg);
            transform: scale(0.95, 1.05) rotate(0deg);
    opacity: 100;
  }
  30% {
    -webkit-transform: scale(1.05, 0.95) rotate(-5deg);
            transform: scale(1.05, 0.95) rotate(-5deg);
    opacity: 100;
  }
  40% {
    -webkit-transform: scale(1, 1) rotate(0deg);
            transform: scale(1, 1) rotate(0deg);
    opacity: 100;
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) rotate(5deg);
            transform: scale(1.05, 0.95) rotate(5deg);
    opacity: 100;
  }
  60% {
    -webkit-transform: scale(0.95, 1.05) rotate(0deg);
            transform: scale(0.95, 1.05) rotate(0deg);
    opacity: 100;
  }
  70% {
    -webkit-transform: scale(1.05, 0.95) rotate(-5deg);
            transform: scale(1.05, 0.95) rotate(-5deg);
    opacity: 100;
  }
  80% {
    -webkit-transform: scale(1, 1) rotate(0deg);
            transform: scale(1, 1) rotate(0deg);
    opacity: 100;
  }
  90% {
    -webkit-transform: scale(1.05, 0.95) rotate(5deg);
            transform: scale(1.05, 0.95) rotate(5deg);
    opacity: 100;
  }
  100% {
    -webkit-transform: scale(0.95, 1.05) rotate(0deg);
            transform: scale(0.95, 1.05) rotate(0deg);
    opacity: 100;
  }
}

@keyframes glassBounce {
  0% {
    -webkit-transform: scale(1, 1) rotate(0deg);
            transform: scale(1, 1) rotate(0deg);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(1.05, 0.95) rotate(5deg);
            transform: scale(1.05, 0.95) rotate(5deg);
    opacity: 20;
  }
  20% {
    -webkit-transform: scale(0.95, 1.05) rotate(0deg);
            transform: scale(0.95, 1.05) rotate(0deg);
    opacity: 100;
  }
  30% {
    -webkit-transform: scale(1.05, 0.95) rotate(-5deg);
            transform: scale(1.05, 0.95) rotate(-5deg);
    opacity: 100;
  }
  40% {
    -webkit-transform: scale(1, 1) rotate(0deg);
            transform: scale(1, 1) rotate(0deg);
    opacity: 100;
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) rotate(5deg);
            transform: scale(1.05, 0.95) rotate(5deg);
    opacity: 100;
  }
  60% {
    -webkit-transform: scale(0.95, 1.05) rotate(0deg);
            transform: scale(0.95, 1.05) rotate(0deg);
    opacity: 100;
  }
  70% {
    -webkit-transform: scale(1.05, 0.95) rotate(-5deg);
            transform: scale(1.05, 0.95) rotate(-5deg);
    opacity: 100;
  }
  80% {
    -webkit-transform: scale(1, 1) rotate(0deg);
            transform: scale(1, 1) rotate(0deg);
    opacity: 100;
  }
  90% {
    -webkit-transform: scale(1.05, 0.95) rotate(5deg);
            transform: scale(1.05, 0.95) rotate(5deg);
    opacity: 100;
  }
  100% {
    -webkit-transform: scale(0.95, 1.05) rotate(0deg);
            transform: scale(0.95, 1.05) rotate(0deg);
    opacity: 100;
  }
}
#loaderContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: url("../assets/loadingimagebg.svg") center no-repeat;
  background-size: 150px;
  background-position-y: 20vh;
  z-index: 1;
  opacity: 0;
  -webkit-animation: glassBounce 1.6s ease 1;
          animation: glassBounce 1.6s ease 1;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.isNotLoading {
  display: none;
}

@media (max-width: 1024px) {
  .contentContainer {
    width: 90%;
  }
  h2 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin: 0;
  }
  #drinkImage {
    width: 24%;
  }
}
@media (max-width: 900px) {
  #drinkIngredients, #drinkInstructions {
    width: 100%;
    padding: 20px 40px;
  }
  .drinkAgain {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  h1 {
    line-height: 1.8rem;
  }
  button {
    width: 100%;
  }
  #alcoholRandom {
    margin-top: 20px;
  }
  .drinkAgain {
    margin-top: -20px;
    width: calc(100% - 80px);
  }
  footer span {
    font-size: 0.9rem;
  }
}
@media (max-width: 640px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: auto;
    padding: 20px 20px 0 20px;
  }
  main {
    padding: 40px 0px;
    min-height: calc(100vh - 205px);
  }
  h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media (max-width: 480px) {
  main {
    min-height: calc(100vh - 184px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contentContainer {
    margin-top: 40px;
  }
  .drinkAndImageContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #232323;
    border-radius: 40px 40px 0 0;
    position: relative;
  }
  .lightModeContent .drinkAndImageContainer {
    background-color: #ffe600;
  }
  #drinkImage {
    width: 50%;
    border-radius: 50%;
    position: absolute;
    top: -60px;
  }
  #drinkHeader {
    border-radius: 0;
    padding: 20px;
    margin-top: 36%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
  }
  #drinkIngredients, #drinkInstructions {
    padding: 20px;
  }
  #ingList {
    font-size: 0.8rem;
    line-height: 0.8rem;
    border-radius: 12px;
  }
  li {
    font-size: 0.8rem;
    line-height: 1.05rem;
    padding-bottom: 10px;
  }
  footer {
    padding: 20px;
    text-align: center;
    height: auto;
  }
  footer span {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
  #formSlide {
    position: relative;
  }
}
.bounce-in-right {
  -webkit-animation: bounce-in-right 1s ease-in-out;
          animation: bounce-in-right 1s ease-in-out;
}

@-webkit-keyframes bounce-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  70% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  90% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  70% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  90% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.bounce-in-left {
  -webkit-animation: bounce-in-left 1s ease-in-out;
          animation: bounce-in-left 1s ease-in-out;
}

@-webkit-keyframes bounce-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  70% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounce-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  70% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
#shareSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#shareLine {
  width: 250px;
  height: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
}

#shareLink {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.shareHidden {
  visibility: hidden;
}