@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Archivo Black";
  src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(../fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 12deg;
}
h1 {
  font-size: 1.8rem;
  margin-left: 10px;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-family: "Archivo Black";
  font-size: 3rem;
  margin: 30px 0 8px 0;
  padding: 0;
  color: #ffe600;
}

h3 {
  font-family: "Archivo Black";
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

li {
  padding-bottom: 14px;
  line-height: 1.2rem;
  font-weight: 350;
}

::marker {
  font-weight: 600;
  color: #ffe600;
}

html {
  font-size: 125%;
}

header {
  background-image: url(../assets/Background-1.jpg);
  height: 70vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  font-family: "Archivo Black";
  color: #232323;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  background-color: #232323;
}
nav img {
  max-width: 70px;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

main {
  background-color: #232323;
  height: 450px;
}

.contentContainer {
  position: relative;
  top: -200px;
  background-color: #3b3b3b;
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 30px rgba(35, 35, 35, 0.6);
          box-shadow: 0 0 30px rgba(35, 35, 35, 0.6);
  color: white;
  font-family: "Red Hat Display";
  text-align: center;
  padding: 20px 0;
  margin-bottom: -300px;
}

.displayArea {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  display: none;
}

#drinkImage {
  width: 160px;
  height: 160px;
  border: 14px solid #232323;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: -160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#drinkImage img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

#drinkHeader {
  background-color: #232323;
  min-height: 100px;
  width: 100%;
  margin-top: -40px;
  border-radius: 40px 40px 0 0;
}

#drinkGlass {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  padding: 20px 0 24px;
  margin: 10px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#drinkGlass img {
  width: 60px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#drinkGlass img:hover {
  -webkit-transform: rotate(-6deg) scale(1.1);
          transform: rotate(-6deg) scale(1.1);
}

#drinkIngredients {
  padding: 20px 20px 20px 40px;
  width: 400px;
}

#ingList {
  margin-top: 20px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 30px rgba(35, 35, 35, 0.6);
          box-shadow: 0 0 30px rgba(35, 35, 35, 0.6);
}

.infoContainer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.infoContainer:last-child {
  border-bottom: none;
}
.infoContainer div {
  padding: 12px 20px;
}

.measurementContainer {
  text-align: right;
  width: 30%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 500;
  color: #ffe600;
}

.ingredientContainer {
  text-align: left;
  width: 70%;
  font-weight: 100;
}

#drinkInstructions {
  padding: 20px 40px 20px 20px;
  width: 50%;
  text-align: left;
}

.drinkAgain {
  width: 100%;
  margin-bottom: 20px;
}

#drinkAgainBtn {
  background-color: #ffe600;
  -webkit-box-shadow: 0 4px 0 #b7981d;
          box-shadow: 0 4px 0 #b7981d;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}
#drinkAgainBtn:hover, #drinkAgainBtn:focus {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0 0 0 #b7981d;
          box-shadow: 0 0 0 #b7981d;
}

.hidden {
  display: none !important;
}

footer {
  height: 50px;
  background-color: #3b3b3b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
footer span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

form {
  margin-bottom: 14px;
  margin-top: 20px;
  padding: 20px 0;
}

label {
  font-weight: 400;
}

select {
  display: block;
  width: 80%;
  margin: 8px auto 40px;
  font-weight: 500;
  color: #232323;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #232323;
}
select option {
  font-family: sans-serif;
  font-weight: 500;
}

.buttonContainer {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  font-weight: 900;
  width: 46%;
  padding: 10px;
  border-radius: 24px;
  border: none;
  color: #232323;
}

#alcoholTypeBtn {
  background-color: #ffe600;
  -webkit-box-shadow: 0 4px 0 #b7981d;
          box-shadow: 0 4px 0 #b7981d;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}
#alcoholTypeBtn:hover, #alcoholTypeBtn:focus {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0 0 0 #b7981d;
          box-shadow: 0 0 0 #b7981d;
}

#alcoholRandom {
  background: linear-gradient(-45deg, #fcb150, #ec679a, #65c4e7, #50e9c5);
  background-size: 400% 400%;
  -webkit-box-shadow: 0 4px 0 #7e495d;
          box-shadow: 0 4px 0 #7e495d;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
  -webkit-animation: gradientBackground 12s ease infinite;
          animation: gradientBackground 12s ease infinite;
}
#alcoholRandom:hover, #alcoholRandom:focus {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0 0 0 #7e495d;
          box-shadow: 0 0 0 #7e495d;
}

@-webkit-keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.takeMeBackContainer {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#takeMeBack {
  background: transparent;
  width: 100%;
  margin-bottom: 0;
  padding: 5px 0;
  color: #ffe600;
  font-weight: 400;
}
#takeMeBack:hover, #takeMeBack:focus {
  -webkit-text-decoration: underline solid #ffe600 1px;
          text-decoration: underline solid #ffe600 1px;
}

span.material-icons {
  color: #ffe600;
  position: relative;
  top: 5px;
}